<div class="row">
  <div class="col-md-5">
    Recipe List
    <!-- For Output (output value from local component of rb-recipe-list) = "Input from external component = $event"  -->
    <rb-recipe-list (recipeSelected)="selectedRecipeDetailInput = $event"></rb-recipe-list>
  </div>
  <div class="col-md-7">
    Recipe Detail
    <!-- from external value to Input [external value rb-recipe-list] = "Input Value Local rb-recipe-detail" -->
    <rb-recipe-detail [selectedRecipeDetailInput]="selectedRecipeDetailInput"></rb-recipe-detail>
  </div>
</div>